@layer theme, base, components, utilities;

@import '@fontsource-variable/funnel-display';
@import '@fontsource-variable/geist-mono';

body {
  font-family: 'Geist Mono', sans-serif;
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Funnel Display', sans-serif;
  font-weight: 800;
}

@theme {
  --font-geist: 'Geist Mono', sans-serif;
  --font-funnel: 'Funnel Display', sans-serif;
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
